<h1 class="text-left">Mister Cocktail Miami</h1>
<h3 class="text-center">All cocktails</h3>
<div class = "container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo? %>

      <div class="card-product">
          
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
         
        <br>
        <div class="card-product-infos">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>

        </div>

      </div>
       <% end %>
  <% end %>
  </div>
</div>



