.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item-btn {
	background-color: #E55293;
	color: #150000;
	border-radius: 4px;
}


.nav-item-btn:hover {
	opacity: 1;
}